body{
    min-width: 1360px;
    background-color: #eeedeb;
}
hr {
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #BBBDBF currentColor currentColor;
    border-image: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search{
	background:url(../image/banner.jpg) #ffffff no-repeat fixed;
	min-height: 520px;
	padding-top: 200px;
}
.search input{
	border: 1px solid rgba(255,255,255,.8);
    background: rgba(0,0,0,.3);
    color: #ffffff;
}
.card{
	background-color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.top a{
    font-size: 18px;
    line-height: 21px;
}
.container{
	width: 1050px;
}
.right1{
	width:70px;
	height:1080px;
	background-color:rgba(50,55,58,0.8);
	color:#ffffff;
	padding-top:250px;
}
.span1{
	min-height: 900px;
}
.span3{
	height: 20px;
	letter-spacing:10px;
	color:#ffffff;
	background-color:#402111;
	border-radius: 12px;
}
.span4{
	height: 150px;
	border-bottom: 1px solid #BBBDBF;
}
.border1{
	border: 1px solid #d9d9d9;
}
.size1{
	height:355px;
	width: 100%;
}
.size2{
	height:34px;
	line-height: 28px;
	border: 0px;
}
.size3{
	height:360px;
	width: 100%;
}
.size4{
	height:120px;
	width:120px;
}
.list1{
	padding: 15px;
/*	border: 1px solid #f58220;
	border-radius: 5px;*/
	min-height: 470px;
}
.list2{
	border: 0px;
	border-radius:0px;
	background-color:rgba(0,0,0,0);
	color: #ffffff;
	font-weight: bold;
}
.list3{
	border: 1px solid #fe6600;
	border-radius:0px;
}
.list4{
	background-color: #ffffff;
	padding: 15px;
/*	border: 1px solid #f58220;
	border-radius: 5px;*/
	min-height: 300px;
}
.height1{
	min-height: 100px;
}
div.a1 a{
    color: rgb(51, 51, 51);
    text-decoration:none;
}
div.a1 a:hover{
    text-decoration:underline;
}
.background1{
	background-color: #ffffff;
}
.background2{
	background-color: #F39800;
}
.background3{
	background:url(../image/login.jpg) #ffffff no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.background4{
	background:url(../image/bottom.png) #f58220 no-repeat ;
}
.background5{
	background-color:#eeeeee;
}
.background6{
	background-color:#d40000;
}
.background7{
	background-color:#f2f2f2;
}
.color1{
	color:#ffffff;
}
.color2{
	color:#402111;
}
.color3{
	color:#F39800;
}
.form-control{
	height: 42px;
	font-size: 24px;
	line-height: 28px;
}
.button1{
	background-color: transparent;
	color:#ffffff;
	height:42px;
	line-height: 28px;
	font-size: 20px;
	border: 0px;
	position: relative;
	margin-left: -50px;
}
.button1:hover {
    color:#ffffff;
    text-decoration: none;
}
.hr1{
   margin-top:0px;
   margin-bottom: 0px;
}
.margin1{
	margin-top:20px;
}
.margin2{
	margin:0px;
}
.margin3{
	margin-bottom:20px;
}
.margin4{
	margin-top:50px;
}
.margin5{
	margin-top:0px;
	margin-bottom:0px;
}
.margin6{
	margin-top:70px;
	margin-bottom:70px;
}
.margin7{
	margin-top:10px;
}
.margin8{
	margin-top:400px;
}
.padding1{
	padding-left:0px;
	padding-right:0px;
}
.padding3{
	padding-top:15px;
	padding-bottom:15px;
}
.padding4{
	padding:10px;
}
.padding5{
	padding-top:74px;
	padding-bottom:55px;
}
.padding6{
	padding-top:10px;
}
.padding7{
	padding:5px;
}
.padding8{
	padding-right:0px;
}
.font1{
	color: black;
	font-weight: bold;
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}
.dropdown-menu > li > a {
    padding: 3px 20px;
    color: rgb(255,255,255);
    line-height: 1.4285;
    clear: both;
    font-weight: normal;
    display: block;
    white-space: nowrap;
}
.dropdown-menu {
    list-style: none;
    margin: 2px 0px 0px;
    padding: 5px 0px;
    margin-top:14px; 
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-image: none;
    left: 0px;
    top: 100%;
    font-size: 14px;
    font-color: #000000;
    float: left;
    display: none;
    position: absolute;
    z-index: 1000;
    min-width: 160px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
    background-color: #f58220;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.caret {
    border-width: 4px 4px 0px;
    color: #ffffff;
    border-style: solid solid dotted;
    border-color: #ffffff transparent currentColor;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    display: inline-block;
}
.navbar-fixed-top {
    border-width: 0px 0px 1px;
/*    padding-top: 200px;*/
}
.indexnav{
	position: absolute;
	margin-top: -430px;
	margin-left: 300px;
}
.indexnav .col-xs-3{
	color:#fd6600;
	background-color:#ffffff;
	height: 430px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}
.indexnav a{
	color:#fd6600;
}
.indexnav li{
	border-bottom:1px solid #fd6600;
	line-height: 85px;
	font-size: 25px; 
}
.indexnav li:hover{
	background-color:#fd6600; 
	color:#fd6600;
}
.indexnav li:hover a{
	color:#ffffff;
}